.button {
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s;
    cursor: pointer;
}

.fontWeightNormal {
    font-weight: normal;
}

.large {
    width: 100%;
}

.rouded {
    border-radius: 5px;
    background-color: var(--color-primary);
}

.outline {
    border: 1px solid var(--color-primary);
}

.primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}


.disabled {
    opacity: 0.5;
    cursor: default;
}