.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    animation: fadeIn .5s linear;
    z-index: 999999;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-content {
    margin: auto;
    width: 33%;
    min-height: 150px;
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 30px 40px;
}

.modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
}

.modal-title-icon i {
    font-size: 22px;
    cursor: pointer;
}

.modal-inputs {
    display: flex;
    flex-direction: column;
}

.modal-input-item {
    width: 100%;
    position: relative;
    margin-bottom: 12px;
}

.modal-input-item-icon-hide {
    position: absolute;
    top: 25%;
    right: 12px;
    transform: translateY(-20%);
    cursor: pointer;
}

.input-custom {
    padding: 10px 40px 10px 8px !important;
    caret-color: var(--color-primary) !important;
}

.modal-error {
    margin-top: 5px;
    color: var(--color-error);
    font-size: 12px;
}

.modal-button {
    margin-top: 12px;
    padding: 12px 24px;
}

.spacing {
    padding: 20px 40px;
}