.history-button-container {
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

.history-button {
    display: inline-block;
    background-color: rgba(211, 211, 211, 0.488) !important;
    font-size: 16px;
    transition: all 0.3s;
}

.history-button:hover {
    background-color: #f3f4f6 !important;
}

.history-button+.history-button {
    margin-left: 10px;
}

.desc {
    font-size: 17px;
    letter-spacing: 0.5px;
}