.wrapper {
    padding: 40px 20px;
    min-height: 100vh;
}

.title {
    text-transform: uppercase;
    margin-bottom: 40px;
}

/* TABLE */
.table-coin {
    display: block;
    position: relative;
    width: 100%;
    max-height: 620px;
    overflow-y: overlay;
    margin: 16px 0;
    border-collapse: collapse;
}

.table-coin .thead {
    background-color: var(--footer-bgc);
    text-align: left;
    height: 38px;
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0;
    left: 0;
    right: 0;
}

.table-coin .thead th {
    font-weight: 400;
    padding-left: 12px;
    min-width: 300px;
}

.table-coin .tbody {
    width: 100%;
}

.table-coin .tbody td {
    padding: 16px 12px;
}

.table-coin .tbody td a,
.table-coin .thead th:not(:nth-child(3)):hover {
    color: var(--color-primary);
}

.table-coin .tbody td:first-child {
    display: flex;
    align-items: center;
    width: 120px;
}

.table-coin .tbody td:first-child .name {
    display: flex;
    align-items: center;
}

.table-coin .tbody,
.table-coin .thead th {
    transition: all 0.3s;
    width: 100%;
}


.table-coin .tbody:hover {
    background-color: var(--footer-bgc);
}

.text-primary {
    color: var(--color-primary);
}

.logo_company {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    object-fit: contain;
    border-radius: 50%;
}

.fullname-coin {
    color: #ccc;
    min-width: 170px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.icon-sort {
    font-size: 14px;
}

.text-red {
    color: red;
}

.text-green {
    color: green;
}

.button-scroll-top {
    position: fixed;
    bottom: 15px;
    right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: all 0.3s;
}

.button-scroll-top:hover {
    background-color: rgb(255, 196, 172);
    cursor: pointer;
}